@import "tailwindcss";

:root {
  --color-white: rgb(236, 236, 236);
  --color-black: rgb(24, 24, 24);
  --color-gray: rgb(31, 31, 31);
  --color-light-gray: rgb(40, 40, 40);
  --color-green: rgb(51, 222, 54);

  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--color-gray);
  --color-foreground: var(--color-white);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(31, 31, 31);
    --color-white: rgb(236, 236, 236);
  }
}

body {
  background: var(--color-gray);
  color: var(--color-white);
  font-family: Helvetica, Arial, sans-serif;
}
