:root {
  --color-white: rgb(236, 236, 236);
  --color-black: rgb(24, 24, 24);
  --color-gray: rgb(31, 31, 31);
  --color-light-gray: rgb(40, 40, 40);
  --color-green: rgb(51, 222, 54);
}

body {
  background-color: var(--color-gray);

  font-family: "Inter", sans-serif;
  color: var(--color-white);
}

.container {
  width: 100%;
  margin: 0 20px;
}
.flex {
  display: flex;
}

/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.normal {
  font-size: 16px;
  font-weight: 400;
}
.small {
  font-size: 13px;
  font-weight: 300;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  appearance: none;
}
input,
button,
[type="button"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

:focus-visible {
  outline: none;
  outline-offset: none;
}
:where(h1, h2, h3, h4, h5, h6) {
  font-size: inherit;
  font-weight: inherit;
}

p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

code,
kbd,
samp,
pre {
  font-family: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}
